@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root {
  --dark: rgb(0,0,0);
  --medium-dark: rgb(0,0,0); 
  --medium-light: rgb(0,0,0);
  --light: rgb(0,0,0);
}

h1, h2 {
  font-family: Orbitron, Arial, Helvetica, sans-serif
}

body {
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif
}

ul {
  list-style-type: square;
}

canvas {
  background-color: var(--light);
}